:root{
  --primary-color:#DF5C6C;
  --foreign-color:#FFC0CB;
  --a1-color:#A1A1A1;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .bt-off{
    @apply text-white bg-red-200 p-3 grid-cols-3 justify-items-center w-full rounded-lg

  }
  .bt-on{
    @apply text-white bg-red-500 p-3 grid-cols-3 justify-items-center w-full rounded-lg
  }
  .Dash-bt{
    @apply text-black  bg-white w-28 h-10 
  }
  .bt-su{
    @apply text-white bg-green-500 p-3 grid-cols-3 justify-items-center p-1 w-full rounded-md
  }
}