* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card .boximg {
  position: relative;
  width: 100%;
  background-size: cover;
}

.card .content {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 32px;
}

.card .content .price {
  position: absolute;
  top: -50px;
  height: screen;
  width: 100%;
  background-color: white;
  border-radius: 28px;
}

.formcheckinput {
  background-color: black;
}

@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .card .boximg img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .displaybig {
    display: none;
  }
  .card {
    width: auto;
  }
  .card .boximg {
    position: relative;
    width: auto;
    height: 20%;
    background-size: cover;
  }
  .card .boximg img {
    width: 100%;
    height: 620px;
  }
  .content .price {
    top: -10px;
    width: 100%;
    border-radius: 28px;
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .displaybig {
    display: none;
  }
  .card .boximg {
    position: relative;
    width: 100%;
    height: 50%;
    background-size: cover;
  }
  .card .content .price {
    top: -30px;
    width: 100%;
    border-radius: 28px;
    padding: 20px;
    margin: auto auto;
  }
  .mobile .card .boximg img {
    width: 100%;
    height: 320px;
  }
}
