.container {
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    max-width: 100%;
    
}
.menugroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100%;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box :hover{
    color: #A1A1A1;
    background-color: #FFC0CB;
    border: #FFC0CB;
}
.box img{
    padding: 10px 10px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border: 1px solid #A1A1A1; 
}
.box img:hover{
    background-color: #FFC0CB;
}
.box a {
    text-decoration: none;
    color: #A1A1A1;
}
a .textDecoration a:hover{
    color: #FFC0CB;
}

/* 1024px */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
        margin: auto auto;
    }
    .menugroup{
        gap: 40%;
        margin: auto auto;
    }

    .box img{
        width: 80px;
        height: 80px;
        border-radius: 20px;
        border: 1px solid #A1A1A1; 
    }
}

/* 768px */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        margin: auto auto;
    }
    .menugroup{
        gap: 30%;
        margin: auto auto;
    }

    .box img{
        width: 80px;
        height: 80px;
        border-radius: 20px;
        border: 1px solid #A1A1A1; 
    }
}

/* 480px */
@media only screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        margin: auto auto;
    }
    .menugroup{
        gap: 30px;
        margin: auto auto;
    }

    .box img{
        width: 70px;
        height: 70px;
        border-radius: 20px;
        border: 1px solid #A1A1A1; 
    }
}

/* 390px */
@media only screen and (max-width: 390px) {
    .container {
        max-width: 100%;
        margin: auto 1rem;
    }
    .menugroup{
        gap: 30px;
        margin: auto auto;
    }

    .box img{
        width: 60px;
        height: 60px;
        border-radius: 20px;
        border: 1px solid #A1A1A1; 
    }
}