/* body{
  background-color: #FFC0CB;
} */
.mobile {
  margin: 0 auto; 
  padding: 0;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 390px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.lang{
  display: flex;
  justify-content: end;
}
.selectOption{
  text-align: left;
  width: 120px;
  margin: 10px;
  font-size: 18px;
  padding: 10px;
  border-radius: 16px;
}
.button {
  margin: 5px 0;
  background-color: #FF69B4;
  color: #ffffff;
  width: 350px;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 16px;
  border: #FF69B4;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between;
}

/* 1024px */
@media  only screen and (min-width: 1200px) {
  .mobile{
    width: 30%;
  }
  .footer{
    margin: 100px;
  }

}
/* 768px */
@media  screen and (max-width: 768px) {
  .mobile{
    margin: 0 auto; 
    padding: 0px 10px;
    background-image: url("../img/bg.png");
    background-size: cover;
    height: 100vh;
    width: 70%;
    border: none;
    display: flex;
    flex-direction: column;
  }
 .footer{
  padding: 100px;
 }
}
/* 480px */
@media only screen and (max-width: 480px){
  .mobile{
    width: auto;
  }
  .footer{
    display: flex;
    justify-content: center;
    padding: 100px 0; 
  }
} 

/* 390px */
@media only screen and (max-width: 390px){
  .mobile{
    width: auto;
  }
  .footer{
    display: flex;
    justify-content: center;
    padding: 20px 0; 
  }
} 