nav {
    background-color: #DF5C6C;

}
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 80px;
}

.back,
.bar {
    color: white;
    font-size: 40px;
}

/* 1024px */
@media only screen and (min-width: 1200px) {
    .mobile {
        width: 30%;
    }

    .footer {
        margin: 100px;
    }

}

/* 768px */
@media screen and (max-width: 768px) {

}

/* 480px */
@media only screen and (max-width: 480px) {

}


/* 390px */
@media only screen and (max-width: 390px) {

}