nav {
    background-color: #DF5C6C;

}
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 80px;
}

.back,
.bar {
    color: white;
    font-size: 50px;
}


/* 1024px */
@media only screen and (min-width: 1200px) {
    .mobile {
        width: 30%;
    }

    .footer {
        margin: 100px;
    }

}
/* sidenav.module.css */

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #DF5C6C;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideNav ul {
  list-style-type: none;
  padding: 0;
}

.sideNav li {
  padding: 10px;
}

.closeBtn {
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}


/* 768px */
@media screen and (max-width: 768px) {

}

/* 480px */
@media only screen and (max-width: 480px) {

}


/* 390px */
@media only screen and (max-width: 390px) {

}
.sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0; 
    height: 100vh;
    width: 200px; 
    background-color: #fff;
    z-index: 1000; 
  }
  .closeNav {
    cursor: pointer;
    /* เพิ่มสไตล์อื่น ๆ ตามต้องการ เช่น สี, ขนาด, ระยะห่าง, เป็นต้น */
  }
  
  