.conshow{
    display: grid;
    align-items: center;
    justify-content: left;
    width: auto;
    margin: 8px auto;
    padding: 0 10px;
}
h3{
    margin: auto 5%;
}
.grid_container{
    display: grid;
    justify-items: center;
    align-items: center; 
    grid-template-columns: auto auto auto auto;
    width: auto;
    gap: 10px;
    margin: 0;
}

.card{
    width: auto;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    background-color: rgba(255, 192, 203, 0.4);
}
.boximg img{
    width: 80%;
}
.griditem .card .namemanu p{
    text-align: left;
}
.container{
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center;
}
.quantity{
    margin: 0 10px;
    display: flex;
    font-size: 16px;
}
.container .quantity button{
    background: none;
    border: none;
}

/* 1024px */
@media only screen and (min-width: 1024px) {
    .conshow{
        margin: 8px auto;
       }
    .grid_container{
        display: grid;
        justify-items: center;
        align-items: center; 
        grid-template-columns: auto auto auto auto;
        width: auto;
        gap: 10px;
    }
}

/* 768px */
@media only screen and (min-width: 768px) {

    .conshow{
        margin: auto auto;
       }
    .grid_container{
        display: grid;
        justify-items: center;
        align-items: center; 
        grid-template-columns: auto auto auto;
        width: auto;
        gap: 10px;
        margin: 10px;
    }
    .card{
        width: auto;
        height: auto;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 8px;
        border-radius: 20px;
    }
    .boximg img{
        width: 80%;
    }

}

/* 480px */
@media only screen and (max-width: 480px) {
    .conshow{
        margin: 8px auto;
       }
    .grid_container{
        margin: 1rem auto;
        display: grid;
        justify-items: center;
        align-items: center; 
        grid-template-columns: auto auto ;
        width: auto;
    }
    
    .card{
        width: auto;
        height: auto;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        background-color: rgba(255, 192, 203, 0.4);
    }
    .boximg img{
        width: 100%;
    }
}


/* 390px */
@media only screen and (max-width: 390px) {
    .conshow{
     margin: 8px auto;
    }
    .grid_container{
        margin: 1rem auto;
        display: grid;
        justify-items: center;
        align-items: center; 
        grid-template-columns: auto auto ;
        width: auto;
        gap: 10px;
    }
    
    .card{
        width: auto;
        height: auto;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        background-color: rgba(255, 192, 203, 0.4);
    }
    .boximg img{
        width: 80%;
    }
}
