h3 {
    padding: 0 10px;
}

.box {
    width: 100%;
    padding: 1fr;
    margin: 10px auto;
}

.card {
    background-color: pink;
    padding: 8px;
    border-radius: 20px;
    margin: 8px 0;
}
.namemanu {
    padding: 2px;
}
.namemanu p{
    font-size: 24px;
    font-weight: 500;
    margin: 0 ;

}

.boximg {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4px; 
}

.boximg img {
    padding: 4px;
    width: auto; 
    height: auto; 
    border-radius: 18px;
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    padding: 5px;
}

.quantity {
    margin: 0 0;
}


.price p {
    margin: 0 0;
    font-size: 24px;
    font-weight: 700;
}
.quantity {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center; 
    grid-template-columns: auto auto auto; 
}
.quantity button{
    font-size: 16px;
    background: none;
    border: none;
}

  

/* 768px */
@media only screen and (max-width: 768px) {
    .card{
        padding: 8px;
    }
    .namemanu{
        margin: 0.5rem 0;
    }
    .namemanu p{
        font-size: 18px;
        font-weight: 500;
    }
    .price{
        width: 100%;
    }
    .price p{
        font-size: 18px;
        font-weight: 700;
    }
    .container{
        grid-template-columns: auto auto;
    }
    .quantity {
        width: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto auto auto;
    }
    .boximg img{
        padding: 2px;
        width: auto;
        height: auto;
    }
    
}

/* 480px */
@media only screen and (max-width: 480px) {
    .card{
        padding: 8px;
    }
    .namemanu{
        margin: 1fr 1fr;
    }
    .namemanu p{
        font-size: 18px;
        font-weight: 500;
    }
    .price{
        width: 100%;
    }
    .price p{
        font-size: 18px;
        font-weight: 700;
    }
    .container{
        grid-template-columns: auto auto;
    }
    .boximg img{
        padding: 4px;
        width: auto;
        height: auto;
    }
    .quantity {
        width: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto auto;
    }
}

/* 390px */
@media only screen and (max-width: 390px) {
    .namemanu{
        margin:  1rem;
    }
    .namemanu p {
        text-align: left;
        font-size: 18px;
        margin: 0 1px;
        font-weight: 500;
        
    }
    .price {
        width: 100%;
    }

    .price p {
        font-size: 16px;
        font-weight: 700;
    }

    .quantity {
        width: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto auto auto;
    }

    .quantity button {
        font-size: 16px;
        background: none;
        border: none;
    }
    .boximg img {
        padding: 4px;
        width: auto; 
        height: auto; 
    }
}