h3 {
    padding: 0 10px;
}

.box {
    width: 100%;
    padding: 1fr;
    margin: 8px auto;
}

.card {
    background-color: pink;
    padding: 8px;
    border-radius: 20px;
}
.namemanu {
    text-align: left;
    padding: 0 5px;
    margin: 0.5rem 0;
    
}
.namemanu p{
    font-size: 24px;
    font-weight: 500;
    margin: 0 ;
}

.boximg {
    display: grid;
    justify-content: center;
    align-items: center; 
}

.boximg img {
    width: 280px;
    height: 280px;
    justify-self: center; /* เพิ่มการจัดให้รูปภาพอยู่ตรงกลางในแนวนอน */
    align-self: center; /* เพิ่มการจัดให้รูปภาพอยู่ตรงกลางในแนวตั้ง */
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    padding: 5px;
}

.quantity {
    margin: 0 0;
}

.price p {
    margin: 0 0;
    font-size: 24px;
    color: rgba(201, 170, 5, 1);
    font-weight: 500;
}
.quantity {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center; 
    grid-template-columns: auto auto auto; 
}
.quantity button{
    font-size: 16px;
    background: none;
    border: none;
}

/* 768px */
@media only screen and (max-width: 768px) {
    .card{
        padding: 8px;
    }
    .namemanu{
        margin: 0.5rem 0;
    }
    .namemanu p{
        font-size: 18px;
        font-weight: 500;
    }
    .price{
        width: 100%;
    }
    .price p{
        font-size: 18px;
        color: rgba(201, 170, 5, 1);
        font-weight: 500;
    }
    .container{
        grid-template-columns: auto auto;
    }
    .quantity {
        width: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto auto auto;
    }
}

/* 480px */
@media only screen and (max-width: 480px) {
    .card{
        padding: 8px;
    }
    .namemanu{
        margin: 0.5rem 0;
    }
    .namemanu p{
        font-size: 18px;
        font-weight: 500;
    }
    .price{
        width: 100%;
    }
    .price p{
        font-size: 18px;
        color: rgba(201, 170, 5, 1);
        font-weight: 500;
    }
    .container{
        grid-template-columns: auto auto;
    }
    .quantity {
        width: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto auto auto;
    }
}

/* 390px */
@media only screen and (max-width: 390px) {
    .card{
        padding: 8px;
    }
    .namemanu{
        margin: 0.5rem 0;
    }
    .namemanu p {
        text-align: left;
        font-size: 18px;
        margin: 0 1px;
        font-weight: 500;
        
    }

    .price {
        width: 100%;
    }

    .price p {
        font-size: 16px;
        color: rgba(201, 170, 5, 1);
        font-weight: 700;
        text-align: center;
    }

    .quantity {
        width: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto auto auto;
    }

    .quantity button {
        font-size: 16px;
        background: none;
        border: none;

    }

    .container {
        grid-template-columns: auto auto;
    }
}